@import "../variables";

.wrapper_thankyou {
  display: flex;
  flex-direction: column;
  place: {
    items: center;
    content: center;
  }
  gap: 1.25rem;
  height: 100%;

  p {
    text-align: center;
    color: $cool-gray;
    font-size: 1rem;
  }
}
